<a href="https://colab.research.google.com/github/DwarapureddySanjay/python-practice/blob/main/mid_1practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Write a program to print prime numbers in given range by using function[25-50]

In [29]:
def prime(a,b):
  for i in range(a, b+1):
    k=0
    for j in range(2,i):
      if(i%j==0):
        k=k+1
    if k==0:
      print(i)
prime(25,50)

29
31
37
41
43
47

# Write a program to read any month in integer and display days for that month

In [ ]:
n=int(input())
if (n>=1 or n<=12):
  if (n==1 or n==3 or n==5 or n==7 or n==8 or n==10 or n==12):
    print('the month is having 31 days')
  elif(n==2):
    print('the month is having 28 days')
  else:
    print('the month is having 30 days')
else:
  print('not a month')

8
the month is having 31 days

# Write a python program to print even length words in a string (in (this is a python class)) print only this, python, is.

In [ ]:
n=str(input())
n=n.split(' ')
for x in n:
  if len(x)%2==0:
    print(x)

this is my laptop y
this
is
my
laptop

# a)Write a python program to capitalise the 1st and last letter of each word
#  b) Write a program to read a string from user display first character of each word with capital letter

In [33]:
# a) 
def FirstAndLast(string):
  ch = list(string)
  i = 0
  while i<len(ch):
    k=i
    while(i<len(ch) and ch[i]!=""):
        i+=1
    if (ord(ch[k]) >= 97 and ord(ch[k]) <= 122 ):
      ch[k] = chr(ord(ch[k]) - 32)
    else:
      ch[k] = ch[k]       
    if(ord(ch[i - 1]) >= 90 and ord(ch[i - 1]) <= 122 ):
      ch[i - 1] = chr(ord(ch[i - 1]) - 32);
    else:
      ch[i - 1] = ch[i - 1]
      i += 1
  return "" . join(ch)
if __name__ == "_main_" :
    string = "I have mid on thursday"
    print(string)
    print(FirstAndLast(string))

In [ ]:
# b)
n='this is my computer'
print(len(n))
print(n.upper())

19
THIS IS MY COMPUTER

# Write a python program to convert a list of multiple integers into a string.
# input [11,33,59] output [113359]

In [1]:
list=[11,33,59]
for i in list:
  print(i)

11
33
59

#Write a python program to find power of number with recurtion without recurtion

In [32]:
# Using recursion
def power(a,b):
  if b==0:
    return 1
  else:
    return (a*power(a,b-1))
print(power(2,3))
# whithout recursion
import math
a=int(input())
b=int(input())
print(math.pow(a,b))

8
2
3
8.0

# Write a program to sort tuples by total digits 
# input list=[(3,4,6,723),(1,2),(134,234,34)] output list=[(1,2),(3,4,6,723),(134,234,34)]

In [4]:
a=[(3,4,6,723),(1,2),(134,234,34)]
a.sort()
print(a)

[(1, 2), (3, 4, 6, 723), (134, 234, 34)]

# Take 5 subject marks from the user and display the grade of the student
# if avg is 90-100 O grade

In [ ]:
a=int(input('enter 1st subject marks'))
b=int(input('enter 2nd subject marks'))
c=int(input('enter 3rd subject marks'))
d=int(input('enter 4th subject marks'))
e=int(input('enter 5th subject marks'))
avg=(a+b+c+d+e)/5
if avg>=90:
  print('o grade')
elif avg>=80 and avg<90:
  print('A+ grade')
elif avg>=70 and avg<=80:
  print('A grade')
elif avg>=60 and avg<=70:
  print('B+ grade')
elif avg>=50 and avg<=60:
  print('B grade')
elif avg>=40 and avg<=50:
  print('C grade')
elif avg>=30 and avg<=40:
  print('D grade')
else:
  print('Fail')

enter 1st subject marks56
enter 2nd subject marks78
enter 3rd subject marks46
enter 4th subject marks89
enter 5th subject marks23
B grade

# Write a python program that prints digit 1 if all the three given numbers are in ascending order otherwise print 0

In [ ]:
a=int(input('enter the 1st number'))
b=int(input('enter the 2nd number'))
c=int(input('enter the 3rd number'))
if b==a+1 and c==a+2:
  if a<b and b<c:
    print(1)
  else:
    print(0)
else:
  print('not in series')

enter the 1st number3
enter the 2nd number4
enter the 3rd number6
not in series

# Check given number is perfect or not

In [2]:
n=int(input('enter the input'))
sm=0
for i in range(1,n):
  rem=n%i
  if rem==0:
    sm=sm+i
if (sm==n):
  print("it is a perfect number")
else:
  print("it is not a perfect number")

enter the input6
it is a perfect number

# Check given string is palendrome or not

In [11]:
a='wow'
b=a[::-1]
if b==a:
  print('it is a palindrome')
else:
  print('it is not a palindrome')

it is a palindrome

# Find the gcd of given numbers with and without recursion.

In [15]:
# without recursion
import math
a=int(input('enter 1st number'))
b=int(input('enter 2nd number'))
print(math.gcd(a,b))
# with recursion
def gcd(a,b):
  return(math.gcd(a,b))
c=int(input('enter 1st number')) 
d=int(input('enter 2nd number')) 
print(gcd(c,d))

enter 1st number15
enter 2nd number5
5
enter 1st number25
enter 2nd number5
5

# Print sum of digits in a given number
#input=1234 output=2+4=6

In [16]:
n=str(input())
s=0
for i in n:
  if int(i)%2==0:
    s=s+int(i)
print(s)

123456
12

# Program to calculate the sum of squares of digits of a number given by the user 
# input=123 output=1^2+2^2+3^2=14

In [18]:
n=int(input())
s=0
while n!=0:
    rem=n%10
    sqr=rem*rem
    s=s+sqr
    n=int(n/10)
print(s)

123
14

# Given a string is s='abcdefcba'.front and last match is count+1

In [20]:
a=str(input())
b=a[::-1]
l=int((len(a)/2))
s=0
for i in range(0,l):
  if a[i]==b[i]:
    s=s+1
print(s)

abcdefcba
3

# given an integer n, a list containing 1223334444
# input=4 output=1223334444

# print the number of vowels and constants
# input=Gitam output= 2 vowels 3 constants

In [21]:
n=str(input())
a=0
b=0
for i in n:
  if i=='a' or i=='e' or i=='o'or i=='u'or i=='i':
    a+=1
  else:
    b+=1
print(a)
print(b)

deemed to be university
9
14

# Given two integers a and b if a<b print all the numbers in ascending order 
# and if a>b print in descending order

In [30]:
a=int(input())
b=int(input())
if a<b:
  for i in range(a,b):
    print(i)
else:
  for i in range(a,b,-1):
    print(i)

10
3
10
9
8
7
6
5
4

# Write a program to count the number of strings where the sring length is 2 or more and the first and last character are same

In [22]:
def match(words):
  a=0
  for x in words:
    if len(words) > 1 and x[0] == x[-1]:
      a+=1
  return a
print(match(['abc','xyz','aba','1221']))

2

# There is a walking track of 3 km one round=3+3=6 take the input from the user how many days he went and how many rounds he completed 
# if<400 mts message='work more'if>40000 mts message=good job

In [28]:
days=int(input('Enter no of days:'))
no=int(input("enter no of rounds per day:"))
num=(no*600)
dis=days*num
if dis<400:
  print("need to work more")
elif dis>=40000:
  print("excellent job")
else:
  print("Not bad")

Enter no of days:30
enter no of rounds per day:5
excellent job

# Given a list of students L and include characters also display the names of the student whose first letter is given as input

In [25]:
test_str =['hello','Hello']
print("The original string is : " + str(test_str))
for ele in test_str:
   if ele.isupper():
     print(ele)

The original string is : ['hello', 'Hello']

# Given a list of city names,print whose string length is greater then the given length

In [27]:
list=['delhi','Mumbai','Goa']
l=int(input())
for x in list:
  if len(x)>l:
    print(x)

2
delhi
Mumbai
Goa