<a href="https://colab.research.google.com/github/DwarapureddySanjay/python-practice/blob/main/module1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruits= 'apple and banana'
print(fruits.replace('a','z'))
names= 'ramesh suresh'
print(names.split(' '))

zpple znd bznznz
['ramesh', 'suresh']

MY DETAILS

In [ ]:
Name='D.Sanjay'
College_name='GITAM'
Branch='cse(ai and ml)'
age=19
friends=5
sentence= 'hlo all, I am {0} of {1} studing {2} branch and i am still {3}. I have only {4} of my friends who are always with me'
print(sentence.format(Name, College_name, Branch, age, friends))

hlo all, I am D.Sanjay of GITAM studing cse(ai and ml) branch and i am still 19. I have only 5 of my friends who are always with me

# Accept input from user and store it in variable and print the value.

In [ ]:
A=int(input('Enter the number'))
print(A)

Enter the number5
5

# x Use of print statements and use of (.format )for printing different data types.

In [ ]:
a=int(input())
b=float(input())
c=bool(input())
d=str(input())

# Take 2 numbers as user input and add, multiply, divide, subtract, remainder and print
# the output (Same operations on floating point input as well)

In [ ]:
b=int(input('number1='))
c=int(input('number2='))
print('sum',b+c)
print('sub',b-c)
print('mult',b*c)
print('power',b**c)
print('div',b//c)
print('division',b/c)

number1=23
number2=45
sum 68
sub -22
mult 1035
power 18956258430116202791319715713277227626159289499745290235663543
div 0
division 0.5111111111111111

# Conversion of one unit to another (such as hours to minutes, miles to km and etc)

In [ ]:
Hour=int(input())
minute=Hour*60
print(minute,"seconds")
second=minute*60
print(second,"minutes")

# Usage of mathematical functions in python like math.ceil, floor, fabs, fmod, trunc, pow, sqrt etc

In [ ]:
import math
a=float(input())
print(math.ceil(a))
print(math.fabs(a))
print(math.floor(a))
print(math.sqrt(a))

# x Building a mathematical calculator that can perform operations according to user input.

In [ ]:
a=int(input())
b=int(input())
c=str(input("enter the input"))
if c=='+':
     print(a+b,"sum")
elif c=='-':
     print(a-b,"sub")
elif c=='*':
     print(a*b,"mult")
else :
     print(a/b,"div")

# Accepting 5 different subject marks from user and displaying the grade of the student.Â¶

In [1]:
tel=int(input())
hin=int(input())
eng=int(input())
math=int(input())
soc=int(input())
avg=(tel+hin+eng+math+soc)/5
if avg>=90:
    print('A+ Grade')
elif avg>=80 and avg<=90:
    print('A Grade')
elif avg>=70 and avg<=60:
    print('B+ Grade')
elif avg>=60 and avg<50:
    print('B Grade')
elif avg>=50 and avg<=40:
    print('C Grade')
elif avg>=40 and avg<=30:
    print('D Grade')
else:
    print('Fail')

47
56
76
37
91
Fail

# Printing all even numbers, odd numbers, count of even numbers, count of odd numbers within a given range.