<a href="https://colab.research.google.com/github/DwarapureddySanjay/python-practice/blob/main/practicing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruits= 'apple and banana'
print(fruits.replace('a','z'))
names= 'ramesh suresh'
print(names.split(' '))

zpple znd bznznz
['ramesh', 'suresh']

MY DETAILS

In [ ]:
Name='D.Sanjay'
College_name='GITAM'
Branch='cse(ai and ml)'
age=19
friends=5
sentence= 'hlo all, I am {0} of {1} studing {2} branch and i am still {3}. I have only {4} of my friends who are always with me'
print(sentence.format(Name, College_name, Branch, age, friends))

hlo all, I am D.Sanjay of GITAM studing cse(ai and ml) branch and i am still 19. I have only 5 of my friends who are always with me

# Accept input from user and store it in variable and print the value.

In [ ]:
A=int(input('Enter the number'))
print(A)

Enter the number5
5

# x Use of print statements and use of (.format )for printing different data types.

In [ ]:
a=5
print("a=",a)
b=int(input('number1'))
c=int(input('number2'))
print('sum',b+c)
print('sub',b-c)
print('mult',b*c)
print('power',b**c)
print('div',b//c)
print('division',b/c)

a= 5
number112
number24
sum 16
sub 8
mult 48
power 20736
div 3
division 3.0

In [1]:
a='123'
b='rrr'
c=a + b
print(c)

123rrr