<a href="https://colab.research.google.com/github/DwarapureddySanjay/python-practice/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Write a program to print prime numbers in given range by using function[25-50]

In [35]:
def prime(a,b):
  for i in range (a,b+1) :
     k=0
     for j in range(2,i):
       if(i%j==0):
         k=k+1
       if k==0:
         print(i)
prime(25,50)

25
25
25
27
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
33
35
35
35
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
39
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
45
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
49
49
49
49
49

# Write a program to read any month in integer and display days for that month

In [13]:
n=int(input())
if (n>=1 or n<=12):
  if (n==1 or n==3 or n==5 or n==7 or n==8 or n==10 or n==12):
    print('the month is having 31 days')
  elif(n==2):
    print('the month is having 28 days')
  else:
    print('the month is having 30 days')
else:
  print('not a month')

8
the month is having 31 days

# Write a python program to print even length words in a string (in (this is a python class)) print only this, python, is.

In [23]:
n=str(input())
n=n.split(' ')
for x in n:
  if len(x)%2==0:
    print(x)

this is my laptop y
this
is
my
laptop

# a)Write a python program to capitalise the 1st and last letter of each word
#  b) Write a program to read a string from user display first character of each word with capital letter

In [33]:
# a) 
n=str(input('Enter the string'))
b=n.split(' ')
n=''
for i in b:
  x=i([0].capitalize())
  y=i([-1].capitalize())
  n=

Enter the stringthe exam is postponed
The
Exam
Is
Postponed

In [28]:
# b)
n='this is my computer'
print(len(n))
print(n.upper())

19
THIS IS MY COMPUTER

# Write a python program to convert a list of multiple integers into a string.
# input [11,33,59] output [113359]